{% load i18n %} 
<!DOCTYPE html> 
<html> 
    <head> 
        <title>{{ site_name }} - {{ headline }}</title> 
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head%}
        {% endblock %}
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="{% url "index" %}">{{ site_name }}</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
            {% else %}
                <li><a href="{% url "login" %}">{% trans "Login" %}</a></li>
                {% if enable_registration %}
                    <li><a href="{% url "signup" %}">{% trans "Sign up" %}</a></li>
                {% endif %}
            {% endif %}
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>
