{% extends 'base.html' %}
{% load i18n %}
{% block head %}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script>
var eightyseven = {};

function getCookie(name) {
    // taken from https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(document).ready(function() {
    $("#wait").hide();
    eightyseven.token = getCookie('csrftoken');

    $("#wait").text(eightyseven.token);
    $("#wait").show();
});
</script>
{% endblock %}

{% block content %}
<p id="wait">{% trans "Please wait while this page loads. If you have JavaScript disabled this website will not work." %}</p>
{% endblock %}
