{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <ul>
        {% for object in object_list %}
        <li><b>{% trans "Algo: " %}</b>{{ object.algorithm }}</li>
        <li><b>{% trans "Group: " %}</b>{{ object.group }}</li>
            {% for record in object.passwordrecord_set.all %}
            <li><b>{% trans "Record:" %}</b></li>
            <ul>
                <li><b>{% trans "Data: " %}</b>{{ record.data }}</li>
                <li><b>{% trans "IV: " %}</b>{{ record.iv }}</li>
                <li><b>{% trans "MAC: " %}</b>{{ record.mac }}</li>
                <li><b>{% trans "Updated: " %}</b>{{ record.updated|timesince }}</li>
            </ul>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}
